/* ============================================= */
/*              Mixins                           */
/* ============================================= */
@mixin text-shadow {
    text-shadow: 1px 2px $color-shadow-lighten;
}
@mixin box-shadow {
    box-shadow: 1px 1px $color-shadow;
}
@mixin border {
    border: 1px solid $color-border;
}
@mixin dropdown-border {
    border: 1px solid $white;
}
@mixin box-shadow2 {
    box-shadow: 0px 8px 16px 0px $color-box-shadow;
}
@mixin icon-hw {
    height: 2em;
    width: 2em;
}
@mixin basic-border($color) {
    border: 1px solid $color;
}