/* ============================================= */
/*              Variables                        */
/* ============================================= */
// Colors
$white: #fff;

$color-shadow: rgb(218, 214, 214);
$color-border: lightgrey;
$color-box-shadow: rgba(0,0,0,0.2);


$color-shadow-lighten: rgba($color-shadow, 40%);
