/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding-top: 5.4em;
    background-color: azure;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 5.5em;
    // padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: white;
    background-color: lightsteelblue;
    // box-shadow: 8px -4px 11px rgb(173, 179, 185) inset,
    //             -8px 4px 11px rgb(173, 179, 185) inset;
}
footer {
    margin-top: .5rem;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
h1 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: .3em;
    text-shadow: 1px 2px rgba(218, 214, 214, .4);
    transition: .5s ease-in;
    &:hover {
        transform: scale(1.2);
    }
}
h2 {
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 2px rgba(218, 214, 214, .4);
    transition: .5s ease-in;
}
.projects-h2 {
    margin: 1em 0;
    color: white;
    border-radius: 5px;
    background-color: rgb(248, 165, 150);
    // rgba(124, 183, 252, .5)
    padding: .5em;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}