/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.button {
	color: black;
    background-color: aliceblue;
	width: 70%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	border: 2px solid #4a89ca;
	border-radius: .5em;
	margin: 1em;
	transition: .5s ease-in;
	&:hover {
		box-shadow: 3px 4px rgb(218, 214, 214);
	}
}
.photo-overlay h3 {
	border: 1px solid lavender;
    cursor: pointer;
    background-color: rgb(22, 137, 209);
    border-radius: 5px;
	box-shadow: 1px 2px rgb(218 214 214);
	width: 270px;
	height: 65px;
}
.project-center {
    padding: 1em;
}
.project-h3 {
	padding: .5em 1em;
}
.li-focus {
	border: 1px solid lightgrey;
    background-color: lightskyblue;
    border-radius: 5px;
	box-shadow: 1px 1px rgb(218 214 214);
	// padding: .5rem;
}