/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.button {
	color: #4a89ca;
    background-color: aliceblue;
	width: 70%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	border: 2px solid #4a89ca;
	border-radius: .5em;
	margin: 1em;
	opacity: .4;
	transition: .5s ease-in;
	&:hover {
		opacity: 1;
	}
}
.photo-overlay h3 {
	border: 1px solid lavender;
    padding: .5em 1em;
    background-color: lightskyblue;
    border-radius: 5px;
	box-shadow: 1px 2px rgb(218 214 214);
}
