/* ============================================= */
/*              Images                           */
/* ============================================= */
header img {
    height: 6em;
    width: 6em;
    border-radius: 50%;
    margin-right: 1em;
}
.project-photo {
    width: 90vw;
    text-align: center;
}
.photo {
	position: relative;
	overflow: hidden;
}
.project-photo img {
 	max-width: 100%;
}

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding: 1.5em;

	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .5);
}
.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

