/* ============================================= */
/*              Images                           */
/* ============================================= */
.profile-photo {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin-right: 1em;
    transition: .5s ease-in;
	border: 1px solid rgba(173, 179, 185, .5);
    &:hover {
        transform: rotate(-15deg) scale(1.2);
    }
}

.project-photo {
    width: 90vw;
    text-align: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: ghostwhite;
	margin-bottom: .5em;
	cursor: pointer;
	box-shadow: 2px 2px 8px lightgrey inset,
				0px 8px 16px 0px rgba(0,0,0,0.2);
}

.photo {
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(230, 221, 221, .1);
	border-radius: 10px;
	height: 100%;
	width: 100%;
}
.project-photo img {
 	width: 100%;
	height: 100%;
    transition: transform .6s ease-in;
}

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding: 1.5em;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.photo-overlay:hover {
	opacity: 1;
}
// .photo:hover img {
// 	transform: scale(1.2);
// }

// Social Media SVGS
.social-link {
    height: 2.5em;
    width: 2.5em;
    display: flex;
    align-items: center;
}
.social-link svg {
    fill: white;
    height: 2em;
    width: 2em;
	color: lightslategrey;
}
.menu-icon {
	display: block;
	height: 2em;
	width: 2em;
	color: white;
	margin-left: auto;
	margin-right: -4rem;
}
.close-icon {
	display: none;
	height: 2em;
	width: 2em;
	color: white;
	margin-left: auto;
	margin-right: -4rem;
}
.icon-div {
	display: flex;
    flex-direction: column;
    height: 4.5em;
    align-items: center;
    width: 4.5em;
	margin: .5em .4em;
}
.html-icon {
	color: orangered;
}

.css-icon {
	color: blue;
}
.js-icon {
	color: #f0db4f;
}
.sass-icon {
	color: #CD6799;
}
.boot-icon {
	color: #563d7c;
}
@keyframes grow {
	0% {
	  transform: scale(0);
	}
	30% {
	  transform: scale(1.1);
	}
	60% {
	  transform: scale(0.9);
	}
  }
  
  