/* ============================================= */
/*              Navigation                       */
/* ============================================= */
.fas {
    margin-left: auto;
}
header h2 {
    font-size: 1.2em;
    text-shadow: 1px 1px rgba(241, 241, 248, .4);
    transition: .5s ease-in;
    &:hover {
        transform: scale(1.2);
    }
}
.dropdown-content {
  display: none;
  justify-content: space-around;
  li {
    margin: 0 1em;
  }
}
.dropdown {
  margin-left: auto;
}

/* following dropdown code from https://www.w3schools.com/howto/howto_js_dropdown.asp */
// .dropdown {
//     position: relative;
//     display: inline-block;
//   }
  
//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f1f1f1;
//     min-width: 320px;
//     overflow: auto;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     z-index: 1;
//     top: 2.7em;
//     right: -1em;
//   }
  
//   .dropdown-content a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: flex;
//     border: 1px solid lightgrey;
//   }
//   .close-note {
//     margin-left: auto;
//   }
//   .dropdown a:hover {background-color: #ddd;}
  
//   .show {display: block;}
//   .hidden {
//     display: none;
// }
// .modal-close {
//   position: absolute;
//   right: 15px;
//   top: 12px;
//   cursor: pointer;
//   border: none;
//   background: none;
//   margin-left: auto;
// }
// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(100, 100, 100, 0.4);
// }