/* ============================================= */
/*              Navigation                       */
/* ============================================= */
.fas {
    margin-left: auto;
}
header h2 {
    font-size: 1.2em;
}
/* following dropdown code from https://www.w3schools.com/howto/howto_js_dropdown.asp */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 1.25em;
    right: 2em;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    border: 1px solid lightgrey;
  }