/* ============================================= */
/*              Navigation                       */
/* ============================================= */
.fas {
    margin-left: auto;
}
header h2 {
    font-size: 1.2em;
    text-shadow: 1px 1px rgba(241, 241, 248, .4);
    transition: .5s ease-in;
    &:hover {
        transform: scale(1.2);
    }
}
.dropdown-content {
  display: none;
  justify-content: space-around;
  li {
    margin: 0 1em;
  }
}

.dropdown-toggle {
  display: none;
  width: 100vw;
  background-color: lightsteelblue;;
  justify-content: space-around;
  border: 1px solid white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  li {
    padding: 1em;
    text-align: center;
    border: 1px solid white;
  }
}
  .show {
    display: block;
  }
  .hidden {
    display: none;
}
